// MIXINS
border-radius(a)
    -webkit-border-radius a
    -moz-border-radius a
    border-radius a

box-sizing($boxmodel)
  -moz-box-sizing $boxmodel
  -ms-box-sizing $boxmodel
  -webkit-box-sizing $boxmodel
  box-sizing $boxmodel